<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.number_field :code %>
  </div>

  <div class="field">
    <%= form.label :professor_id %>
    <%= form.collection_select(:professor_id, Professor.all, :id, :name, { :prompt => 'Escolha um professor', :selected => @classroom.professor_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label :subject_id %>
    <%= form.collection_select(:subject_id, Subject.all, :id, :name, { :prompt => 'Escolha uma materia', :selected => @classroom.subject_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label :period_id %>
    <%= form.collection_select(:period_id, Period.all, :id, :semester, { :prompt => 'Escolha um periodo', :selected => @classroom.period_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
