<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Professor</th>
      <th>Materia</th>
      <th>Periodo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.professor.name %></td>
        <td><%= classroom.subject.name %></td>
        <td><%= classroom.period.semester %></td>
        <td><%= classroom.code %></td>
        <td><%= link_to 'Ver mais', classroom %></td>
        <%if can? :edit, classroom %>
          <td><%= link_to 'Editar', edit_classroom_path(classroom) %><td>
        <%end%>
        <%if can? :destroy, classroom %>
          <td><%= link_to 'Deletar', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, Classroom%>
  <%= link_to 'Nova turma', new_classroom_path %>
<%end%>
