<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @classroom.professor.name %>
</p>

<p>
  <strong>Materia:</strong>
  <%= @classroom.subject.name %>
</p>

<p>
  <strong>Periodo:</strong>
  <%= @classroom.period.semester %>
</p>
<%if can? :edit, @classroom%>
  <%= link_to 'Editar', edit_classroom_path(@classroom) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
