<%= form_with(model: course_subject, local: true) do |form| %>
  <% if course_subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_subject.errors.count, "error") %> prohibited this course_subject from being saved:</h2>

      <ul>
      <% course_subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :course_id, :value => @course.id  %>
  </div>

  <div class="field">
    <%= form.label :subject%>
    <%= form.collection_select(:subject_id, Subject.where(department_id: @course.department_id), :id, :name, { :prompt => 'Escolha uma materia', :selected => course_subject.subject_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
