<p id="notice"><%= notice %></p>

<h1>Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.course.name %></td>
        <td><%= link_to 'Ver mais', student %></td>
        <%if can? :edit, Student%>
          <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <%end%>
        <%if can? :destroy, Student%>
          <td><%= link_to 'Deletar', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, @students%>
  <%= link_to 'Novo aluno', new_student_path %>
<%end%>
