<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @student.course.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Turmas</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each do |subscription| %>
      <tr>
        <%if subscription.student_id == @student.id%>
          <td><%= subscription.classroom.code %></td>
          <td><%= link_to 'Ver mais', subscription.classroom %></td>
          <%if can? :edit, Classroom %>
            <td><%= link_to 'Deletar', subscription, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>



<%if can? :manage, Student%>
  <%= render 'subscriptions/form', {student: @student, subscription: Subscription.new } %>
<%end%>

<%if can? :edit, @student%>
  <%= link_to 'Editar', edit_student_path(@student) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
