<p id="notice"><%= notice %></p>

<h1>Periodos</h1>

<table>
  <thead>
    <tr>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periods.each do |period| %>
      <tr>
        <td><%= period.semester %></td>
        <td><%= link_to 'Ver mais', period %></td>
        <%if can? :edit, @periods%>
          <td><%= link_to 'Editar', edit_period_path(period) %></td>
        <%end%>
        <%if can? :destroy, @periods%>
          <td><%= link_to 'Deletar', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, @period%>
  <%= link_to 'Novo Periodo', new_period_path %>
<%end%>
