<p id="notice"><%= notice %></p>

<p>
  <strong>Semester:</strong>
  <%= @period.semester %>
</p>
<%if can? :edit, @subject%>
  <%= link_to 'Editar', edit_period_path(@period) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
