<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.kind %></td>
        <td><%= link_to 'Ver mais', user %></td>
        <%if can? :edit, @user%>
          <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
        <%end%>
        <td><%= link_to 'Deletar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, @user%>
  <%= link_to 'Novo Usuario', new_user_path %>
<%end%>