<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @user.kind %>
</p>
<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Foto:</strong>
  <%= @user.photo %>
  <%if @user.photo.present?%>
    <%= image_tag(@user.photo.url) %>
  <%end%>
</p>

<%if can? :edit, @user%>
  <%= link_to 'Editar', edit_user_registration_path(@user) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
