<p id="notice"><%= notice %></p>

<h1>Departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= link_to 'Ver mais', department %></td>
        <%if can? :edit, @department%>
          <td><%= link_to 'Editar', edit_department_path(department) %></td>
        <%end%>
        <%if can? :destroy, @department%>
          <td><%= link_to 'Deletar', department, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, Department%>
  <%= link_to 'Novo Departamento', new_department_path %>
<%end%>

