<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @department.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Professores</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <%if professor.department == @department%>
        <tr>
          <td><%= professor.name %></td>
          <td><%= link_to 'Ver mais', professor %></td>
          <%if can? :edit, Professor %>
            <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
          <%end%>
          <%if can? :destroy, Professor%>
            <td><%= link_to 'Deletar', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Cursos</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <%if course.department == @department%>
        <tr>
          <td><%= course.name %></td>
          <td><%= link_to 'Ver mais', course %></td>
          <%if can? :edit, @course%>
            <td><%= link_to 'Editar', edit_course_path(course) %></td>
          <%end%>
          <%if can? :destroy, @course%>
            <td><%= link_to 'Deletar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<%if can? :edit, Department%>
  <%= link_to 'Editar', edit_department_path(@department) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
