<%= form_with(model: professor, local: true) do |form| %>
  <% if professor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professor.errors.count, "error") %> prohibited this professor from being saved:</h2>

      <ul>
      <% professor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label "Departamento" %>
    <%= form.collection_select(:department_id, Department.all, :id, :name, { :prompt => 'Escolha um departmento', :selected => @professor.department_id }, { class: 'form-control' }) %>
  </div>

  <div class="field">
    <%= form.label "Usuario" %>
    <%= form.collection_select(:email, User.where(kind: 2), :email, :email, { :prompt => 'Escolha um professor existente', :selected => @professor.email }, { class: 'form-control' }) %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
