<p id="notice"><%= notice %></p>

<h1>Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.department.name %></td>
        <td><%= link_to 'Ver mais', professor %></td>
        <%if can? :edit, @professor%>
          <td><%= link_to 'Editar', edit_professor_path(professor) %></td>
        <%end%>
        <%if can? :destroy, @professor%>
          <td><%= link_to 'Deletar', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, @professor%>
  <%= link_to 'Novo professor', new_professor_path %>
<%end%>
