<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @professor.name %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @professor.department.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Turmas</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <%if classroom.professor.id == @professor.id%>
        <tr>
          <td><%= classroom.code %></td>
          <td><%= link_to 'Ver mais', classroom %></td>
          <%if can? :edit, classroom %>
            <td><%= link_to 'Editar', edit_classroom_path(classroom) %><td>
          <%end%>

          <%if can? :destroy, classroom %>
            <td><%= link_to 'Deletar', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<%if can? :edit, @professor %>
  <%= link_to 'Editar', edit_professor_path(@professor) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
