<%= form_with(model: equivalence, local: true) do |form| %>
  <% if equivalence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(equivalence.errors.count, "error") %> prohibited this equivalence from being saved:</h2>

      <ul>
      <% equivalence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field(:subject_id, :value => @subject.id )%>
  </div>

  <div class="field">
    <%= form.label :equivalent_subject_id %>
    <%= form.collection_select(:equivalent_subject_id, Subject.all, :id, :name, { :prompt => 'Escolha uma materia equivalente', :selected => equivalence.equivalent_subject_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
