<p id="notice"><%= notice %></p>

<h1>Equivalences</h1>

<table>
  <thead>
    <tr>
      <th>Subjects</th>
      <th>Equivalent subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equivalences.each do |equivalence| %>
      <tr>
        <td><%= equivalence.subjects %></td>
        <td><%= equivalence.equivalent_subject %></td>
        <td><%= link_to 'Show', equivalence %></td>
        <td><%= link_to 'Edit', edit_equivalence_path(equivalence) %></td>
        <td><%= link_to 'Destroy', equivalence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equivalence', new_equivalence_path %>
