<p id="notice"><%= notice %></p>

<p>
  <strong>Subjects:</strong>
  <%= @equivalence.subjects %>
</p>

<p>
  <strong>Equivalent subject:</strong>
  <%= @equivalence.equivalent_subject %>
</p>

<%= link_to 'Edit', edit_equivalence_path(@equivalence) %> |
<%= link_to 'Back', equivalences_path %>
