<p id="notice"><%= notice %></p>

<h1>Materias</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.department.name %></td>
        <td><%= link_to 'Ver mais', subject %></td>
        <%if can? :edit, @subject%>
        <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
        <%end%>
        <%if can? :destroy, @subject%>
          <td><%= link_to 'Deletar', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, @subject%>
  <%= link_to 'Nova Materia', new_subject_path %>
<%end%>