<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @subject.department.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Equivalencias</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @equivalences.each do |equivalence| %>
      <tr>
        <%if equivalence.subject_id == @subject.id%>
          <td><%= equivalence.equivalent_subject.name %></td>
          <td><%= link_to 'Ver mais', equivalence.equivalent_subject %></td>
          <%if can? :edit, Subject %>
            <td><%= link_to 'Deletar', equivalence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%elsif equivalence.equivalent_subject_id == @subject.id%>
          <td><%= equivalence.subject.name %></td>
          <td><%= link_to 'Ver mais', equivalence.subject %></td>
          <%if can? :edit, Subject %>
            <td><%= link_to 'Deletar', equivalence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>


<%if can? :manage, Subject%>
  <%= render 'equivalences/form', {subject: @subject, equivalence: Equivalence.new } %>
<%end%>
<%if can? :edit, @subject%>
  <%= link_to 'Editar', edit_subject_path(@subject) %> |
<%end%>

<%= link_to 'Voltar', request.referrer%>
