<%= form_with(model: subscription, local: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :student_id, :value => @student.id  %>
  </div>

  <div class="field">
    <%= form.label :classroom_id %>
    <%= form.collection_select(:classroom_id, Classroom.all, :id, :code, { :prompt => 'Escolha uma turma', :selected => subscription.classroom_id }, { class: 'form-control' }) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
