<p id="notice"><%= notice %></p>

<h1>Aulas</h1>

<table>
  <thead>
    <tr>
      <th>Turma<th>
      <th>Data</th>
      <th>Professor</th>
      <th>Matéria</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.classroom.code %></td>
        <td><%= l lesson.date %></td>
        <td><%= lesson.classroom.professor.name %></td>
        <td><%= lesson.classroom.subject.name %></td>
        <td><%= link_to 'Ver mais', lesson %></td>
        <%if can? :edit, @lesson%>
          <td><%= link_to 'Editar', edit_lesson_path(lesson) %></td>
        <%end%>
        <%if can? :destroy, @lesson%>
          <td><%= link_to 'Deletar', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if can? :create, @lesson%>
  <%= link_to 'Nova aula', new_lesson_path %>
<%end%>
