<p id="notice"><%= notice %></p>

<p>
  <strong>Turma:</strong>
  <%= @lesson.classroom.code %>
</p>

<p>
  <strong>Data:</strong>
  <%=l @lesson.date %>
</p>
<%if can? :edit, @lesson%>
  <%= link_to 'Editar', edit_lesson_path(@lesson) %> |
<%end%>
<%= link_to 'Voltar', request.referrer %>
