<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departmento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.department.name %></td>
        <td><%= link_to 'Ver mais', course %></td>
        <%if can? :edit, Course%>
          <td><%= link_to 'Editar', edit_course_path(course) %></td>
        <%end%>
        <%if can? :destroy, Course%>
          <td><%= link_to 'Deletar', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, Course%>
  <%= link_to 'New Course', new_course_path %>
<%end%>

