<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @course.department.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Materias</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_subjects.each do |course_subject| %>
      <tr>
        <%if course_subject.course_id == @course.id%>
          <td><%= course_subject.subject.name %></td>
          <td><%= link_to 'Ver mais', course_subject.subject %></td>
          <%if can? :destroy, Course %>
            <td><%= link_to 'Deletar', course_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<%if can? :manage, Course%>
  <%= render 'course_subjects/form', {course: @course, course_subject: CourseSubject.new } %>
<%end%>

<%if can? :edit, @course %>
  <%= link_to 'Editar', edit_course_path(@course) %> |
<%end%>
<%= link_to 'voltar', request.referrer %>
