<!DOCTYPE html>
<html>
  <head>
    <title>SistemaFaculdade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if user_signed_in?%>
      <%= link_to  "#{current_user.name}", user_path(current_user.id)%>
      <%= link_to  "Sair", destroy_user_session_path, method: :delete %>
    <%else%>
      <%= link_to  "login", new_user_session_path %>
    <%end%>
    <%if can? :index, User%>
      <%= link_to  "Usuarios", users_path %>
    <%end%>

    <%if can? :index, Department%>
      <%= link_to  "Departamentos", departments_path %>
    <%end%>
    
    <%if can? :index, Course%>
      <%= link_to  "Cursos", courses_path %>
    <%end%>
    
    <%if can? :index, Professor%>
      <%= link_to  "Professores", professors_path %>
    <%end%>
    
    <%if can? :index, Student%>
      <%= link_to  "Alunos", students_path %>
    <%end%>
    
    <%if can? :index, Lesson%>
      <%= link_to  "Aulas", lessons_path %>
    <%end%>
    
    <%if can? :index, Classroom%>
      <%= link_to  "Turmas", classrooms_path %>
    <%end%>
    
    <%if can? :index, Subject%>
      <%= link_to  "Disciplinas", subjects_path %>
    <%end%>
    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
